stages:
  - build

variables:
  BUILD_DIR_LINUX: build-linux
  BUILD_DIR_WINDOWS: build-windows
  CMAKE_BUILD_TYPE: Release
  OUT_DIR_LINUX: out/linux
  OUT_DIR_WINDOWS: out/windows

# Linux native build
build_linux:
  stage: build
  tags:
    - linux
  before_script:
    - apt-get update || yum update -y
    - apt-get install -y build-essential cmake git openjdk-21-jdk || yum install -y gcc gcc-c++ make cmake git java-21-openjdk-devel
  script:
    - mkdir -p ${BUILD_DIR_LINUX}
    - cmake -S . -B ${BUILD_DIR_LINUX} -DCMAKE_BUILD_TYPE=${CMAKE_BUILD_TYPE}
    - cmake --build ${BUILD_DIR_LINUX} --config ${CMAKE_BUILD_TYPE} --parallel
    - ls -lh ${OUT_DIR_LINUX}
  artifacts:
    paths:
      - ${OUT_DIR_LINUX}/libcjyaml.a
      - ${OUT_DIR_LINUX}/libcjyaml.so
    expire_in: 1 week

# Windows native build (na Windows runnerze)
build_windows:
  stage: build
  tags:
    - windows
  before_script:
    - echo "Runner Windows z JAVA_HOME=${env:JAVA_HOME}"
  script:
    - mkdir -p ${BUILD_DIR_WINDOWS}
    - cmake -S . -B ${BUILD_DIR_WINDOWS} -DCMAKE_BUILD_TYPE=${CMAKE_BUILD_TYPE}
    - cmake --build ${BUILD_DIR_WINDOWS} --config ${CMAKE_BUILD_TYPE} --parallel
    - dir ${OUT_DIR_WINDOWS}
  artifacts:
    paths:
      - ${OUT_DIR_WINDOWS}/cjyaml.lib
      - ${OUT_DIR_WINDOWS}/cjyaml.dll
    expire_in: 1 week
